# Binaries
/bin/
/out/
/*.exe
/*.dll
/*.so
/*.dylib
main

# Build directories
/build/
# /static/

/vendor/

# OS-specific and IDE files
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# Go specific
*.test
*.prof
*.cover

# Go module cache
go.sum

# Go build output
*.o
*.a

# Logs
*.log

# npm stuff
/node_modules/
package-lock.json
